@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {margin:0; padding:0; box-sizing: border-box;}

body {
	font-family: 'Noto Sans KR', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: url("http://www.econovill.com/news/photo/201911/378558_288861_229.jpg") no-repeat center;
	background-size: cover;
}
body::before {
	content:"";
	position: absolute; z-index: 1;
	top: 0; right: 0; bottom: 0; left:0;
	background-color: rgba(0,0,0,.3);
}
.gomain-form {
	position: absolute; 
	left:0; top: 0; z-index : 2;
}
.gomain-form button {
	padding: 20px 10px 10px;
	background-color: transparent;
	border: none;
	font-size: 18px; color: #000;
	font-weight: bold;
	outline: none;
}
.checkIN-form {
	position: absolute; 
	right:100px; top: 0; z-index : 2;
}
.checkIN-form button {
	padding: 20px 10px 10px;
	background-color: transparent;
	border: none;
	font-size: 18px; color: #000;
	font-weight: bold;
	outline: none;
}
.login-form {
	position: absolute; 
	right:0; top: 0; z-index : 2;
}
.login-form button {
	padding: 20px 10px 10px;
	background-color: transparent;
	border: none;
	font-size: 18px; color: #000;
	font-weight: bold;
	outline: none;
}
.table-area {
	width: 400px; position: relative;
	text-align:center; z-index: 2;
}
.hd {font-size: 40px; color: #fff;}
.th {
	font-size: 20px; color: #fff;
	padding: 20px 10px 10px;
}
.table-area td {
	font-size: 20px; color: #fff;
}
.table-area button {
	width: 50%; height: 30px;
	font-size: 18px; color: #fff;
	background: #166cea;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}